@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
}

.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  padding: 20px;
  color: #37a8ff;
  font-family: 'Jersey 10', 'Noto Sans', 'Roboto Condensed';
  font-size: 64px;
}

.main-container {
  max-width: 900px;
  margin: auto;
}

.main .greet {
  margin: 50px 0px;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}

.main .greet span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #92e8fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.main .card {
  height: 200px;
  padding: 15px;
  background-color: rgb(221, 239, 251);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.main .card img {
  width: 35px;
  padding: 5px;
  position: absolute;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}

.main .card:hover {
  background-color: #37a8ff44;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.main .card p {
  color: #585858;
  font-size: 17px;
}

.main-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #bdf1fd;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box img {
  width: 30px;
  cursor: pointer;



}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.search-box div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.main .bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
}

.result {
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar {
  display: none;
}

.result-title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.result img {
  width: 40px;
  border-radius: 50%;
  border: 2px solid rgb(97, 183, 249);

}

.result-data {
  display: flex;
  align-items: start;
  gap: 20px;
}

.loader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr {
  border-radius: 4px;
  border: none;
  background-color: rgb(154, 214, 249);
  background: linear-gradient(to right, #d3eafb, #9dd3f7, #d3eafb);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
  -webkit-animation: loader 3s infinite linear;
}

@keyframes loader {
  0% {
    background-position: -800px 0px;
  }

  25% {
    background-position: -400px 0px;
  }

  50% {
    background-position: 0px 0px;
  }

  75% {
    background-position: 400px 0px;
  }

  100% {
    background-position: 800px 0px;
  }
}

.result-data p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}

@media (max-width:600px) {
  .main-bottom input {
    flex: none;
    width: 150px;
  }

  .main-bottom img {
    width: 20px;

  }

  .search-box {
    padding: 5px 10px;
  }

  .search-box div {
    gap: 5px;
  }
}